pip==21.1.3
MarkupSafe==2.0.1
Werkzeug==2.0.1
Jinja2==3.0.1
click==7.1.2
itsdangerous==2.0.1
Flask==2.0.1
typeguard==2.12.1
setuptools==57.0.0
Flask-Ext==0.1.0
flask-mysql==1.5.2
flask-JSONRPC==2.0.0
cryptography==3.4.7
jsonrpcclient==3.3.6
pika==1.2.0